<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
    <ol>
        <li v-for="sit in sites">
            {{sit.name}}
        </li>
    </ol>
    <ul>
        <li v-for="(name,url,slogan) in object">
            {{name}}:{{url}}:{{slogan}}
        </li>
    </ul>
</div>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            sites: [
                { name: 'Runoob' },
                { name: 'Google' },
                { name: 'Taobao' }
            ],
            object:{
                name:"菜鸟教程",
                url:"http://www.runoob.com",
                slogan:"学的不仅是技术，更是梦想！"
            }
        }
    })
</script>

</body>
</html>