<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
    千米：<input type="text" v-model="kilometers">
    米：<input type="text" v-model="meters">
</div>
<p id="info"></p>
<script >
    var vm = new Vue({
        el:"#app",
        data:{
            kilometers:0,
            meters:0
        },
        methods:{

        },
        computed:{

        },
        watch:{
            kilometers: function (val) {
                this.kilometers= val;
                this.meters = this.kilometers*1000;
            }
        }
    });
    vm.$watch('kilometwes',function (newValue,oldValue) {
        document.getElementById("info").innerHTML = "修改前的值为："+oldValue +",修改后的值为"+newValue;
        
    })
</script>
</body>
</html>